$primary-bluple: #773DFE;

html, body {
	margin: 0;
	padding: 0;

	background: $primary-bluple;
	color: #525252;

	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 15px;

	width: 100%;
	height: 100%;

	position: relative;
}

%subheading {
	display: block;
	font-style: italic;
	font-family: 'Times New Roman', Times, serif;
	font-weight: 100;
	font-size: .55em;
	color: rgba(#525252, .7);
}

a {
	text-decoration: none;
	color: inherit;
	position: relative;

	&:hover {
		&::before {
			height: 100%;
			background-color: #FFDE7E;
		}
	}

	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		height: 4px;
		width: 100%;
		background-color: rgba($primary-bluple, .2);
		left: 0;

		transition: height .3s ease-in-out, background-color .3s ease;
		z-index: -1;
	}
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;

	main.main {
		max-width: 480px;
		width: 95%;
		
		background: white url('images/heading.png') no-repeat top center;
		border-radius: 4px;

		padding: 0em 5em 5em;
		box-sizing: border-box;
		position: relative;

		box-shadow: 0 6px 13px -3px rgba(black, .27);
		
		.logo {
			background: $primary-bluple url('images/logo.png') no-repeat center center;
			background-size: 64px;
			width: 150px;
			height: 150px;
			position: absolute;
			top: -75px;
			left: 50%;
			border-radius: 50%;
			box-shadow: 0 5px 5px rgba(black, .12);
			transform: translateX(-50%);
		}
		
		header {
			margin-top: 11em;

			h1 {
				margin: 0;
				font-size: 2.3em;
				color: black;
				margin-bottom: 1em;

				small {
					@extend %subheading;
				}
			}
		}

		.body {
			.subtitle {
				@extend %subheading;
				font-size: 1em;
				margin-top: 3em;
				margin-bottom: 1em;
			}

			p {
				margin-top: 0;
				line-height: 2em;
				z-index: 1;
				position: relative;
			}

			p:first-child {
				margin-bottom: 0;
			}

			.links {
				a {
					z-index: 1;
					position: relative;
					margin-right: 0.2em;
					cursor: pointer;

					&:not(:last-child)::after {
						content: ',';
					}

					&.discord::before { background-color: rgba(#7289DA, .21); }
					&.twitter::before { background-color: rgba(#1DA1F2, .21); }
					&.youtube::before { background-color: rgba(#FF0000, .21); }
				}
			}
		}
	}
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	color: rgba(black, .5);

	text-align: center;
}

/*
	Modals
*/

.modal {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(black, .6);
	align-items: center;
	justify-content: center;
	z-index: 9999;
	opacity: 0;
	transition: .3s ease opacity;

	&.active {
		display: flex;
		.modal-helper {
			transform: translateY(0);
		}
	}

	&.pretty {
		opacity: 1;
	}

	.modal-helper {
		max-width: 550px;
		width: 95%;
		box-sizing: border-box;
		padding: 4em;
		background: white;
		border-radius: 5px;
		box-shadow: 0px 3px 15px rgba(black, .6);
		position: relative;
		transform: translateY(-300%);
		transition: .3s ease transform;

		.closer {
			position: absolute;
			right: 2em;
			top: 2em;
			background-color: rgba(black, 0.05);
			padding: .8em;
			border-radius: 50%;
			height: .6em;
			width: .6em;
			line-height: .6em;
			color: rgba(black, .5);
			cursor: pointer;
		}

		.body {
			header {
				color: black;
				font-size: 1.8em;
				margin-bottom: .2em;
			}

			> small {
				@extend %subheading;
				font-size: 1em;
				margin-bottom: 3em;
			}
		}
	}

	&#email-modal {
		.list {
			p, h3 {
				margin: 0;
			}

			.item {
				z-index: 1;
				display: block;
				margin-bottom: 2em;
				position: relative;
				
				small, h3, p {
					transition: color .3s ease;
				}

				&:hover {
					&::after {
						visibility: visible;
						opacity: 1;
					}

					small {
						color: rgba(white, .7);
					}
					
					p {
						color: rgba(white, .9);
					}

					h3 {
						color: white;
					}
				}

				&::before {
					display: none;
				}

				&::after {
					content: '';
					visibility: hidden;
					opacity: 0;
					position: absolute;
					width: 110%;
					height: 140%;
					left: -5%;
					top: -20%;
					background-color: $primary-bluple;
					z-index: -1;
					border-radius: 3px;
					transition: .3s ease opacity, .3s ease visibility;
				}

				&:last-child {
					margin: 0;
				}

				h3 {
					font-weight: 400;
					color: black;
					margin-bottom: .2em;
				}
	
				small {

					display: block;
					padding-bottom: 1.2em;
					font-size: .8em;
				}
			}
		}
	}

	&#discord-modal {
		.discord-input {
			background-color: rgba(black, .05);
			position: relative;
			border-radius: 3px;
			border: 1px solid rgba(black, .08);
			color: white;
			font-size: 1.1em;
			padding: 1em;
			display: flex;
			align-items: center;
			line-height: 3em;

			input {
				display: block;
				flex: 1;
				background-color: transparent;
				border: 0;
				appearance: none;
				font-size: 1.2em;
				padding-left: .5em;
				color: rgba(black, .7);
			}

			.btn {
				width: 100px;
				margin-left: 1em;
				text-align: center;

				background-color: #7289DA;
				border-radius: 3px;
				cursor: pointer;
			}
		}
	}
}